# ==========================================
# CẤU HÌNH MÔI TRƯỜNG API KBTT (DEV / PROD)
# ==========================================
KBTT_ENV=dev
KBTT_DEV_BASE_URL=https://api-kbtt.ai-vlab.com
KBTT_PROD_BASE_URL=https://api-tbltkbtt.bocongan.gov.vn

# --- TÀI KHOẢN DEV (Môi trường Thử nghiệm Sandbox) ---
DEV_AUTH_USERNAME=demo_tich_hop
DEV_AUTH_PASSWORD=Demo@#$12345
DEV_AUTH_BASIC_AUTH=Basic QVBJX0NTTFQ6aTJuVnhCZEdGcjdqMTNkT3FJ
DEV_AUTH_GRANT_TYPE=api_cslt

# --- TÀI KHOẢN PROD (Môi trường Vận hành Chính thức BCA) ---
PROD_AUTH_USERNAME=
PROD_AUTH_PASSWORD=
PROD_AUTH_BASIC_AUTH=Basic QVBJX0NTTFQ6aTJuVnhCZEdGcjdqMTNkT3FJ
PROD_AUTH_GRANT_TYPE=api_cslt

# ==========================================
# CẤU HÌNH GOOGLE SHEETS & WEBHOOK
# ==========================================
GOOGLE_SHEET_ID=16jL7SkIkxrL4SAg6Xncuk55WVQaaQunVMOj0eLz3B9Q
GOOGLE_APPS_SCRIPT_URL=

# ==========================================
# CẤU HÌNH SERVER
# ==========================================
PORT=3000
